<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">
<!--  Initialization for data source  -->
<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
<property name="url" value="jdbc:mysql://localhost:3306/test"/>
<property name="username" value="vicky"/>
<property name="password" value="vicky"/>
</bean>
<!--  Definition for ExamDAOImpl bean  -->
<bean id="movieBookingDAOImpl" class="com.MovieBookingDAOImpl">
<property name="dataSource" ref="dataSource"/>
</bean>
<bean id="jdbcTemplateObject" class="org.springframework.jdbc.core.JdbcTemplate"> 
    <property name="dataSource" ref="dataSource"/> 
</bean>
</beans>